@light-red:   #fdd;
@light-green: #dfd;
@light-blue:  #ddf;

@default-theme: @light-red;

@border-color: @default-theme - #222;

.rounded-shape(@radius: 30px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}



.circle{
  .rounded-shape(999px);
  border: 10px solid @border-color;

}

.rounded-square(@radius: 30px){
  .rounded-shape(@radius);
}

.shape{
  display:inline-block;
  width:200px;
  height:200px;
  background:@default-theme;
  margin:20px;
  &:hover{
    background: @light-green;
  }
}

#shape1{
  .circle;
}

#shape2{
  .rounded-square;
}

#shape3{
  .rounded-square(60px);
}